// Header starts from here
header.container-fluid.position-fixed.navbar.navbar-expand-lg.navbar-light.d-flex.justify-content-between
    div.logo-wrapper.text-uppercase
        a.text-decoration-none(href="")
            img(src="/static/img/logo/Logo_transparent.png" alt="Sigma Hub")

    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
        i.bi.bi-list.menu
    div.collapse.navlist.navbar-collapse#navbarNavAltMarkup
        div.text-center.text-lg-end.navbar-nav
            a.nav-link.link.me-4(href="/") Home

            a.nav-link.link.me-4(href="/who-we-are") Who we are

            a.nav-link.link.me-4(href="/contact-us") Contact Us
